body{
    background-image:url(https://wallpaperaccess.com/full/343966.jpg);
     padding: 80px;
      height: 100%; 
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
    background-size: cover;
    font-family: "Poppins-Medium";
  }
  .sidebar {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 10px;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  @font-face{
      font-family:"Oasis-BW0JV";
      src:url('Oasis-BW0JV.eot') format('embedded-truetype'),
      url('Oasis-BW0JV.ttf') format('truetype');

  }
  @font-face{
    font-family:"Poppins-Medium";
    src:url('Poppins-Medium.eot') format('embedded-truetype'),
    url('Poppins-Medium.ttf') format('truetype');

}
      .header {
    padding: 120px;
    text-align: center;
    color: white;
    font: size 360;
    font-family: Oasis-BW0JV;
  }
      .carousel-inner{
          width:100%;
      }
    .row {  
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
  }
  
  .side {
    -ms-flex: 30%;
    flex: 30%;
    color: white;
    padding: 20px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
  }
  
  .topnav a.active {
    background-color: rgb(50, 21, 133);
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 700px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  /*new*/
  .container {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }