<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>GAME EXPERIENCE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/archivo.css" type="text/css" rel="stylesheet" />

</head>

<body>


    @using System.Xml;
    @using System;
    @using System.IO;

    @{

        string elegida = "";


    }

    @functions{


        public static string entrada(string elegida)
        {

            
            <text>
            <script>

             

            do {

                @elegida = window.prompt("opciones\n" + "1. importar xml.\n" + "2. exportar xml.");

            } while (@elegida != "importar" && @elegida != "exportar" && @elegida != null);


            </script>

            </text>

            switch (elegida)
            {

                case "importar":


                    importar();

                    break;

                case "exportar":

                    exportar();

                    break;


                case null:

                    <text>

                    <script>

                        window.alert("Has salido de la ventana");

                    </script>

                  </text>

                    break;

            }

            return elegida;

        }


        public static void importar()
        {

            <text>

            <script>

                var xml = new XMLHttpRequest();

                xml.open('GET', './informacion.xml', true);

                xml.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {

                        window.alert(xml.responseText);
                    }
                }

                xml.send();

            </script>
         
        </text>

        }

        public static void exportar()
        {

            XmlTextReader hola = null;
            XmlDocument documento = null;
            try
            {


                hola = new XmlTextReader("C:/xampp/htdocs/proyecto/xml/informacion.xml");

                documento = new XmlDocument();

                documento.Load(hola);

                documento.Save("Hola.xml");

            }
            catch (XmlException a)
            {

                Console.WriteLine(a.Message);

            }
            catch (FileNotFoundException e)
            {

                Console.WriteLine(e.Message);
            }
            finally
            {

                hola.Close();
            }

        }

    }



    <div class="sidebar">
    </div>
    <div class="header">
        <h1 style="font-size:70px; color: white;">GAME EXPERIENCE</h1>
        <div> &nbsp;&nbsp;</div>
        <p style="font-size:40px; color: white;">Popular multiplayer games</p>
    </div>
    <div class="topnav" id="myTopnav">
        <a href="" id="Home" onclick="home()">Home</a>
        <a href="proyectoLM.ED.SIS_html&css.html" class="active">articlesTwo</a>
        <a href="proyectoLM.ED.SIS_html&css2.html">Contact</a>
        <a href="" onclick="@entrada(elegida)">@ViewData["archivo"]</a>
        <a href="" id="Back" onclick="back()">Back</a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div>

    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className == "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>

    <div class="row">
        <div class="side">
            <div class="container">
                <div style="text-align:center">
                    <h2 style="font-family: Oasis-BW0JV;font-size:40px; color: black;">Call Of Duty Modern Warfare</h2>
                </div>
                <div class="row">
                    <div class="column">
                        <img src="https://cdn-products.eneba.com/resized-products/4FTGL0Ta9wnP4dqoBDEEE91a45upnnRDxUHIpKNwvIA_390x400_1x-0.jpeg" style="width:100%">
                    </div>
                    <div class="column">
                        <div style="font-size:20px; color: black;">
                            Call of Duty Modern Warfare is a 2019 first-person shooter videogame developed
                            by Infinity Ward and published by Activision. Serving as the sixteenth overall installment
                            in the Call of Duty series, as well as a reboot of the Modern Warfare sub-series, it was released
                            on October 25, 2019, for Microsoft Windows, PlayStation 4 and Xbox One.
                        </div>
                    </div>
                </div>
                <a href="https://www.callofduty.com/es/modernwarfare">Call Of Duty Modern Warfare Homepage</a>
                <div> &nbsp;&nbsp;</div>
                <iframe width="1125" height="485" src="https://www.youtube.com/embed/mtjkqrvUg_4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div> &nbsp;&nbsp;</div>
            <div> &nbsp;&nbsp;</div>
            <div class="container">
                <div style="text-align:center">
                    <h2 style="font-family: Oasis-BW0JV;font-size:40px; color: black;">Fortnite</h2>
                </div>
                <div class="row">
                    <div class="column">
                        <img src="https://cloudfront-us-east-1.images.arcpublishing.com/elcomercio/6RLBHNACQBCIXGAF3ZQ2Z4DEXM.jpg" style="width:100%">
                    </div>
                    <div class="column">
                        <div style="font-size:20px; color: black;">
                            Fortnite is an online video game developed by Epic Games and released in 2017.
                            It is available in three distinct game mode versions that otherwise share the same general
                            gameplay and game engine: Fortnite: Save the World, a cooperative shooter-survival game for up to four players to fight off zombie
                            like creatures and defend objects with fortifications they can build; Fortnite Battle Royale, a free-to-play battle royale game where
                            up to 100 players fight to be the last person standing; and Fortnite Creative, where players are given complete
                            freedom to create worlds and battle arenas. Save the World and Battle Royale were released in 2017 as early access titles,
                            while Creative was released on December 6, 2018. Save the World is available only for Windows, macOS, PlayStation 4, and Xbox One,
                            while Battle Royale and Creative released for all those platforms, and also for Nintendo Switch, iOS and Android devices.
                        </div>
                    </div>
                </div>
                <a href="https://www.epicgames.com/fortnite/es-ES/ch2-s2?utm_source=GoogleSearch&utm_medium=Search&utm_campaign=an*Internal_pr*FNBR_ct*Performance_pl*SearchBrand_co*ES_cr*exactSpanish&utm_id=1698341423&sub_campaign=Fortnite_Exact_ES&utm_content=&utm_term=fortnite&utm_term=fortnite&gclid=EAIaIQobChMI9eW75eXO6QIVELTVCh2SDg_7EAAYASAAEgKqqfD_BwE">Fortnite Homepage</a>
                <div> &nbsp;&nbsp;</div>
                <iframe width="1125" height="485" src="https://www.youtube.com/embed/i6lR2s-0EU0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div> &nbsp;&nbsp;</div>
            <div> &nbsp;&nbsp;</div>
            <div class="container">
                <div style="text-align:center">
                    <h2 style="font-family: Oasis-BW0JV; font-size:40px; color: black;">Minecraft</h2>
                </div>
                <div class="row">
                    <div class="column">
                        <img src="https://www.minecraft.net/content/dam/games/minecraft/key-art/Games_Subnav_Minecraft-300x465.jpg" style="width:100%">
                    </div>
                    <div class="column">
                        <div style="font-size:20px; color: black;">
                            Minecraft is a sandbox video game developed by Mojang Studios. Minecraft was created by Markus "Notch" Persson in the Java programming language
                            and was released as a public alpha for personal computers in 2009 before officially releasing in November 2011,
                            with Jens Bergensten taking over development around then. It has since been ported to various platforms and is the best-selling
                            video game of all time, with 200 million copies sold across all platforms and 126 million monthly active users as of 2020.
                        </div>
                    </div>
                </div>
                <a href="https://www.minecraft.net/es-es/">Minecraft Homepage</a>
                <div> &nbsp;&nbsp;</div>
                <iframe width="1125" height="485" src="https://www.youtube.com/embed/MmB9b5njVbA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div>

        @RenderBody()

    </div>





</body>
</html>
